/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper {
  position: relative;
  background: image_url('background.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.home-logo img {
  width: 300px;
}

.container {
  margin: auto;
}
