/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
}


.container {
  margin: auto;
}
