<div>
  <%=image_tag('banner-profile.jpg', :class => "banner-user")%>
  <div class="banner-content">
    <h1><%=@user.first_name + " " + @user.last_name%></h1>
    <p>
      <%= link_to "Add a mixologist offer", new_offer_path, class: "btn btn-primary" %>
    </p>
  </div>
</div>
