<div class="wrapper">
  <div class="container">
    <%= image_tag "logo_white.png" %>
  </div>
</div>
<<<<<<< HEAD
=======

>>>>>>> 040247029278d437df28e692dc71b2b8ba13ee9b
<%= render 'layouts/card_offer' %>
