.modal-header img {
  width: 150px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 8px;
}

.modal-body img {
  height: 40px;
  margin-right: 5px;
  margin-left: 8px;
}

.modal-body p i {
  font-size: 10px;
}
