.user-content {
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;

}

.container-user {
  text-align: center;
}

.form-inputs img {
width: 300px;
border-radius: 10px;
}
