<% mixologists = [] %>
<% @users.each do |user| %>
  <% if user.offers != [] %>
  <% mixologists << user %>
<% end %>
<%end%>
<div class="container-user">
  <div class="user-content">
    <br>

    <% mixologists.each do |f| %>
      <div class="cardmixologist">
        <div class="bannermixo">
          <%= cl_image_tag f.avatar%>
        </div>
        <div class="infomixo">
          <p><%= f.first_name.capitalize + " " + f.last_name.upcase %></p>
        </div>

        <div class="avatarmixo" >
        <%= cl_image_tag f.avatar%>
        </div>
        <a href='/users/<%= f.id %>'><span id="footer-link"></span></a>
      </div>
      <%end%>
  </div>
</div>
